/*Our own styles*/
#nhsLogo{
	position: absolute;
	top: 10%;
	left: 89%;
	z-index: 100;
	}

#nextButton{ 
	border: none;
	height: 62px;
	width: 98px; 
	background-image: url("myImages/nextButton.png");
	background-size: 95px 60px;
	background-repeat: no-repeat;
	background-position: center center;
	position: relative;
	left:85%
			}
			
	#indent{position: fixed;
	left: 20px;}	
	
	#datepicker{z-index: 100;}
	
	#rt{
	margin: 0 auto;
	height: 396px;
	width: 382px; 
	background-image: url("myImages/RT_ButtonGreenPush.png");
	background-size: 383px 397px;
	background-repeat: no-repeat;
	background-position: center center;
	}
	
	#leftEye{
	height: 80.2px;
	width: 240.8px; 
	background-image: url("myImages/visionLossLEFT.png");
	background-size: 205.5px 56.7px;
	background-repeat: no-repeat;
	background-position: center center;
	}
	
	#rightEye{
	height: 80.2px;
	width: 240.8px; 
	background-image: url("myImages/visionLossRIGHT.png");
	background-size: 205.5px 56.7px;
	background-repeat: no-repeat;
	background-position: center center;
	}
	
	#bothEyes{
	height: 80.2px;
	width: 240.8px; 
	background-image: url("myImages/visionLossBOTH.png");
	background-size: 205.5px 56.7px;
	background-repeat: no-repeat;
	background-position: center center;
	}
	
	#min,#max{
	 position:absolute;}

	#min{top:50%; left:6%}
	#max{top:50%; left:91%}

	.body{
	width: 130px;
	height: 40px;
	background-repeat: no-repeat;
	background-position: center center;
	}
	

	#face{background-image: url("myImages/face.png");
	background-size: 98.4px 41.7px;
	}
	
	#arm{background-image: url("myImages/arm.png");
	background-size: 87.6px 35.4px;}
	
	#hand{background-image: url("myImages/hand.png");
	background-size: 98.4px 41.7px;}
	
	#chest{background-image: url("myImages/chest.png");
	background-size: 102.6px 39.6px;}
	
	#leg{background-image: url("myImages/leg.png");
	background-size: 74.1px 42.6px;}
	
	#foot{background-image: url("myImages/feet.png");
	background-size: 90px 42px;}
