/*Our own styles*/
#nhsLogo{
	position: fixed;
	top: 8%;
	left: 92%;
	z-index: 100;
	}

.nextButton, .previousButton{ 
	height: 62px;
	width: 98px; 
	background-image: url("myImages/nextButton.png");
	background-size: 95px 60px;
	background-repeat: no-repeat;
	background-position: center center;
	position: fixed;
	left:65%;
		}

.abandon{position: fixed !important; top:80%; left:80%;}

	.previousButton{background-image: url("myImages/previousButton.png"); left:5%;}
	.navButtons{ width:100%; position: fixed; top:76%;}
			
	#indent{position: fixed;
	left: 20px;}

.thick{font-size: 20px;font-weight:650;}
	
.thick2{font-size: 22px;font-weight:600;}

.thick3{font-size: 23px;font-weight:650;}



	
	#datepicker{z-index: 100;}
	
	#rt{
	margin: 0 auto;
	height: 396px;
	width: 382px; 
	background-image: url("myImages/RT_ButtonGreenPush.png");
	background-size: 383px 397px;
	background-repeat: no-repeat;
	background-position: center center;
	}
	
	#leftEye{
	height: 80.2px;
	width: 240.8px; 
	background-image: url("myImages/visionLossLEFT.png");
	background-size: 205.5px 56.7px;
	background-repeat: no-repeat;
	background-position: center center;
	}
	
	#rightEye{
	height: 80.2px;
	width: 240.8px; 
	background-image: url("myImages/visionLossRIGHT.png");
	background-size: 205.5px 56.7px;
	background-repeat: no-repeat;
	background-position: center center;
	}
	
	#bothEyes{
	height: 80.2px;
	width: 240.8px; 
	background-image: url("myImages/visionLossBOTH.png");
	background-size: 205.5px 56.7px;
	background-repeat: no-repeat;
	background-position: center center;
	}
	
	#min,#max{
	 position:absolute;}

	#min{top:50%; left:6%}
	#max{top:50%; left:91%}
	
		
	#LfaceBut, #RfaceBut{
	color: #B800B8;
	font-weight: bold;
	font-size: 18px;
	}

 /*#LfaceBut, #RfaceBut .ui-btn-inner .ui-btn-text{
	color: #B800B8 !important;
	font-weight: bold !important;
	font-size: 18px !important;
 }*/
 
 #changeInFuture {
    color: #B800B8; 
	font-weight: bold; 
	font-size: 18px; 
}

.snapImg{position:relative;right:6px;}
.snappy{display: none; width:204.48px; height:270.72px;}

.blockA{width:31% !important;
height:585px !important;
       border-right:solid 2px #585858 !important;
}
.blockB{width:69% !important;
height:650px !important;}


.menu{margin-top:10%;}

.rightBut, .leftBut{margin-top:120% !important;} 
.rightBut{left:64% !important;}



.bodyMap{margin-left:18%;margin-top:1%;}
	
	.activeBox{
	position:relative;
	border: 1px;
	border-style: groove;
	border-width: 2px;
	background-color: #FFFFFF; 
	margin-top: 19px;  
	padding-top:3%;
	padding-bottom:3%;
	margin-left:112px;
	height: 10% !important;
	width: 69% !important;
	}

	#instruc{
	position:absolute;
	margin-left:5%;
	margin-top:25%;
	margin-right:64%;
	z-index:10;
	
	}
	
	.inactive{
	text-align: center !important;
	margin: auto !important;
	margin-top: 19px !important;
	margin-left:64px !important;
	background-color: rgba(3,145,189,0.2) !important; 
	font-size: 22px !important;
	width:60% !important;}
	
	.active{
	text-align: center !important;
	margin: auto !important;
    background-color: rgba(3,145,189,0.5) !important;
	margin-left:16px !important;
	font-size: 22px !important;
	width:87% !important;
	
	}
	
	.button{
			font-weight: bold !important;
			font-size: 24px !important;
			padding:7px !important;		}
			
	#Lface,#Rface{
			color: #B800B8 !important;	
		}
		
	#Larm,#Rarm{ 
			color: #5C00B8 !important;
	}
	
	#Lhand,#Rhand{ 
			color: #0099FF !important;
	}
	
	#Lchest,#Rchest{ 
			color: #FF7519 !important;
	}
	
	#Lleg,#Rleg{ 
			color: #FF0000 !important;
	}
	
	#Lfoot,#Rfoot{ 
			color: #006600 !important;
	}


.facemenu, .armmenu, .handmenu, .chestmenu, .legmenu, .footmenu{display:none; margin: auto !important; }

    .body{
	height: 15px !important;
	vertical-align:text-top !important;
	font-size: 25px !important;
	margin: auto !important; 
	margin-top: 15px !important;

	}
	
	
	#faceLabel, #armLabel, #handLabel, #chestLabel, #legLabel, #footLabel{
		position:relative;
		bottom:27%;
		left:10%;
		
	}
	
	#faceLabel{
		color: #B800B8;	
	}
		
	#armLabel{ 
		color: #5C00B8;
	}
	
	#handLabel{ 
		color: #0099FF;
	}
	
	#chestLabel{ 
		color: #FF7519;
	}
	
	#legLabel{ 
		color: #FF0000;
	}


	
	
	#faceLabel, #armLabel, #handLabel, #chestLabel, #legLabel, #footLabel{
		position:relative;
		bottom:27%;
		left:10%;
		
	}
	
	#faceLabel{
		color: #B800B8;	
	}
		
	#armLabel{ 
		color: #5C00B8;
	}
	
	#handLabel{ 
		color: #0099FF;
	}
	
	#chestLabel{ 
		color: #FF7519;
	}
	
	#legLabel{ 
		color: #FF0000;
	}
	
	#footLabel{ 
		color: #006600;
	}


	
	#footLabel{ 
		color: #006600;
	}
  
    

	  .snapCard{position:fixed;left:27%; top: 23%; float: right; }
	  .pairCard{position:fixed;left:25%; top: 23%; float: right; }
	  
	  #step1,#p_step1{ width:36%;position:fixed;top:30%;left:35%;}
	  
      #step2But, #pstep2But
     {
        width: 23%;
	height:9% !important;
        position: fixed;
        left: 40%;
	background-color: rgba(3,145,189,0.3);
	font-size: 22px;
      }
	  
	#pstep3But, #pstep4But, #pstep5But,  #pstep3ButP, #pstep4ButP, #pstep5ButP , #pstep6ButP, #tryDemo,
      #step3But, #step4But, #step3ButP, #step4ButP, #step5ButP , #playSnap{
	    position: fixed;
        top:80%;
        width: 15%;
		background-color: rgba(3,145,189,0.3);
		font-size: 22px;}
		
		#playSnap, #tryDemo{top:76%; width:10%;left:81%;}
		#step3But,#step4But, #pstep3But,#pstep4But, #pstep5But {left:81%; height:8.2% !important;}  
	
		
		 #step3ButP, #step4ButP, #step5ButP, #pstep3ButP, #pstep4ButP, #pstep5ButP, #pstep6ButP{left:4%;height:8.2% !important;}
		 
		 
		 #step2, #step3, #step4, #p_step2, #p_step3, #p_step4{display:none;width:65%;position:fixed;left:16%;top:13%;}
		 #p_step55{display:none;position:relative;margin-top:10.5%;margin-left:77%;z-index:100;}
		 #p_step5{display:none;width:65%;position:relative;left:15%;top:24%;margin-top:2.2%;}
		 
	  .but{position:absolute; left:35%; margin-top:-12%;}
	  .but2{position:absolute; left:16%; margin-top:-12%;}
	  .snap{
	  height:260px;
	  width:190px;	
	   background-size:190px 261px;
	  background-repeat: no-repeat;
	  background-position: center center}
	  
	  #SnapPage, #PairsDemoPage, #PairsPage{background-color: #005200;}
	  #snapWrapper, #pairsWrapper{position: relative;}
	  #snapOverlay, #pairsOverlay{position:absolute;}
	  
	  #snapOverlay, #pairsOverlay{z-index: 100;}
	  
	  #snapOverlay{
	  top:35%;
	  left:46%; 
	  font-weight: bold;
      font-size: 100px;
      color: #5108FA;
	  }
	  
	  #pairsOverlay{ width: 11%; top:51%;
	  left:43.5%;}
	  
	  .spanMsg{position:relative;left:18%;top:13%;font-weight:bold;font-size:40px;}
#spanMsgSnap{
position:relative;
left:41%;
top:15%;
font-size:84px;
color:#f0ff02;}
#spanMsgX{position:relative;left:46%;top:15%;font-weight:bold;font-size:110px;color:#df0202;}
	.pairDiv{
	  height:180px;
	  width:136px;	
	  background-color: white;}
.stPair,.ndPair,.rdPair{height:180px;
	  width:136px;}
.stPairb,.ndPairb,.rdPairb{display: none;  height:180px;
	  width:136px;}
	  
	.grdA{width: 15% !important; margin-top:2% !important; margin-left: 250px !important;} 
	.grdB,.grdC, .grdD{width:15% !important; margin-top:2% !important;margin-left: 10px !important;}


#centre{width:80%; margin-left:8%; margin-right:10%;}
/* Overriding jqueryMobile css*/

.ui-select .ui-btn{font-size:19px !important;}
/*.ui-btn, label.ui-btn {font-weight:650 !important;}*/
.ui-mobile label, div.ui-controlgroup-label{font-size:19px !important;}
/*.ui-content{margin-left: 2% !important;}*/

/* Overriding datepicker css*/

	
.ui-datepicker {
    width: 55% !important;
    background: #333;
    border: 1px solid #555 !important;
    color: black;
    font-weight: normal !important;
}

.ui-datepicker table {
	font-size: 25px !important; 
	color: red !important; 
}

 
.ui-datepicker select.ui-datepicker-month-year {width: 100%; height: 100% !important;}
.ui-datepicker select.ui-datepicker-month, 
.ui-datepicker select.ui-datepicker-year { width: 70% !important; height: 100% !important;}
.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span {  left:20% !important;  top: 25% !important; margin-top: -8px; width: 57px!important; height:46px !important;  }

.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next { height: 100 !important; }


.ui-datepicker .ui-datepicker-title { font-size:25px !important;}

.ui-datepicker th { color: black !important; }
.ui-datepicker td { border: 0; padding: 3px 6px !important; }
.ui-datepicker td span, .ui-datepicker td a {  padding: 5px 18px !important; text-align: center !important;  color: black !important;}


.ui-datepicker .ui-datepicker-prev { left:9px !important; }
.ui-datepicker .ui-datepicker-next { right:40px !important; }


.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span {
 display: block;  
position: absolute; 
left:15% !important; 
top:9px !important;
 margin-top: -8px !important; 
width: 70px!important;
 height:46px !important;  }


.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next { height: 100 !important; }

.ui-datepicker .ui-datepicker-prev-hover, .ui-datepicker .ui-datepicker-next-hover { top: 1px !important; }
.ui-datepicker .ui-datepicker-next-hover { width:76px !important; height:48px !important; right:1px !important;}

.ui-datepicker .ui-datepicker-prev-hover { width:76px !important; height:48px !important; left:1px !important;}

.ui-datepicker-next .ui-icon{ 
background:url('myImages/nextButton.png') !important;  
 background-size:71px 42px!important;
background-repeat: no-repeat !important;
	background-position: center center !important;
}

.ui-datepicker-prev .ui-icon{ 
background:url('myImages/previousButton.png') !important;  
 background-size:71px 42px!important;
background-repeat: no-repeat !important;
	background-position: center center !important;
}